@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
html
{
$fontGaramond: "EB Garamond", serif;
}
$aprrafo1:
{
    width: 50%;
    height: 50%;
    color: aliceblue;
    display: inline-block;
    flex-direction: row-reverse;
    text-align: center;
}